.pageContainer {
  background: radial-gradient(70.4% 106.08% at 39.77% 39.04%,
      #02006c 0%,
      #181e41 63.29%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
}

.pageContainer .contentContainer {
  width: 100%;
  height: auto;

  padding: 0 3rem;
}

.contentContainer::before {
  content: "";
  background-image: url("../../assets/images/pexels-miriam-espacio-110854.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;

  /* z-index: 1; */
}

@media only screen and (max-width: 768px) {
  .pageContainer .contentContainer {
    padding: 0 1rem;
  }
}